---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
  {
    index: 0,
    title:
      "加入创客社后，和同学一起搭建了一个 Express后端 + PostgreSQL数据库 的社团网站。",
    link: "https://google.com",
  },
  {
    index: 1,
    title:
      "个人展示网站和博客网站，使用 Astro 已有的 Positivus 和 Fuwari 框架搭建，托管在 Vercel .",
    link: "https://google.com",
  },
  {
    index: 1,
    title:
      "快来玩绝区零快来玩绝区零快来玩绝区零快来玩绝区零快来玩绝区零快来玩绝区零快来玩绝区零。",
    link: "https://google.com",
  },
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
  <SectionTitle
    sectionTitle="实践能力"
    description="哈基米哦南北绿豆 阿西嘎纳哈呀库"
  />
  <div class="flex flex-col lg:flex-row justify-between rounded-[45px] p-1">
    {
      cards.map((card) => (
        <Card>
          <div class="flex p-[60px] h-full bg-dark text-gray rounded-[45px] m-[1px]">
            <div class="flex flex-col gap-5">
              <p>{card.title}</p>
              <a href={card.link} class="flex items-center gap-[15px]">
                <span class="text-green">Case Info</span>
                <picture>
                  <Image src={larrow} alt="Arrow pointing up right" />
                </picture>
              </a>
            </div>
          </div>
        </Card>
      ))
    }
  </div>
</Section>
