---
import Accordion from "../ui/Accordion.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";

const description = "一步一步从玩游戏到当创客";
---

<Section id="process">
  <div class="mt-[140px]">
    <SectionTitle
      sectionTitle="我的创客历程"
      description={description}
    />
    <Accordion />
  </div>
</Section>