---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

import propImg from "../../assets/pics/proposal-pic.png";
---

<Section>
  <Card>
    <div
      class="flex bg-[#F3F3F3] rounded-[45px] p-[60px] relative mt-[123px] mb-[163px]"
    >
      <div class="w-full md:w-[40%] flex flex-col gap-[26px]">
        <h2 class="text-3xl font-medium">需要点帮助？</h2>
        <p>
          学生党非常缺钱，所以我可以接点小单赚点米。我既可以帮忙制作一个像这个一样棒的个人网页，
          也可以帮你托管、上线互联网使之成为一个真正的网站
        </p>
        <button class="btn-primary" onclick="window.open('https://www.disappear.website/pricing')">前往服务</button>
      </div>
      <picture
        class="hidden md:flex absolute right-[-10%] lg:right-0 top-[-15%] h-[450px] items-center justify-center"
      >
        <Image
          src={propImg}
          alt="This is an illustration"
          class="hidden md:flex lg:h-full lg:w-auto"
        />
      </picture>
    </div>
  </Card>
</Section>
